@using Newtonsoft.Json;
@{

    ViewData["Title"] = "Home Page";

    User? user = null;
    user = UserService.GetUserFromSession();
}
@if (user != null)
{
    <h1>@user.FirstName @user.LastName</h1>
}
