@using Newtonsoft.Json;
@{

    ViewData["Title"] = "Home Page";

    var session = HttpContextAccessor.HttpContext.Session;
    var currentUser = session.GetString("CurrentUser");

    User? user = null;
    if (!string.IsNullOrEmpty(currentUser))
    {
        user = JsonConvert.DeserializeObject<User>(currentUser);
    }
}
@if (user != null)
{
    <h1>@user.FirstName @user.LastName</h1>
}
