@{
    Layout = "_Layout_login";
}
<div class="justify-content loginForm1 graffity rounded c">

    <form method="" action="">
        <img class="image" src="~/photos/logo/fulllogo.jpg" width="200px" />

        <p>Email</p>
        <input type="email" name="email" placeholder="Write your email..." />
        <p>Password</p>
        <input type="password" name="password" placeholder="Write your password..." />
        <p>Smth</p>
        <input type="text" name="text" placeholder="Write your text..." />
    </form>
</div>